.List ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.List li {
  float: left;
}

.List li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.active {
  color: #ffffff;
}